<nav class="navbar">
  <ul class="navbar-links">
    @for (league of leagues; track $index) {
    <li>
      <a>{{ league.title }}</a>
    </li>
    }
    <li><a>Add custom league</a></li>
  </ul>
  <div class="navbar-logo">
    <input
      type="text"
      class="search-input"
      placeholder="Search for team, player, league..."
    />
  </div>
  <ul class="navbar-links">
    @if(authorized){
    <li><a (click)="goToProfile()">Profile</a></li>
    <li><a>Log out</a></li>
    } @else{
    <li><a (click)="goToLogin()">Log in</a></li>
    <li><a (click)="goToRegister()">Register</a></li>
    }
  </ul>
</nav>
